<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <button id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List
            </button>
            <button id="grid" class="btn btn-default btn-sm"><span
                    class="glyphicon glyphicon-th"></span>Grid
            </button>
        </div>
    </div>
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4" ng-repeat="product in products">
            <div class="thumbnail">
                <span class="label label-info">{{product.Nombrecategoria}}</span>
               <img class="group list-group-image" src="http://www.leroymerlin.es/img/r25/55/5501/550101/17312470/17312470_ls.jpg" alt=""/>
                <!--<img class="group list-group-image" src="{{product.image}}" alt=""/>-->
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">{{product.name}}</h4>
                    <p class="group inner list-group-item-text text-limit">{{product.description}}</p>
                    <div class="row">
                    <!--<div class="col-xs-12 col-md-8">
                            <p class="lead">{{product.isInstock}}</p>
                        </div>-->
                        <div class="col-xs-12 col-md-4">
                            <button class="btn btn-success" ng-click="addCar(product)">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{cartArray}}
